table, th, td {
    border: 1px solid black;
}

body {
    background-color: #d0d0d0;
    padding-left : 10px;
    padding-right : 10px;
    font-family: 'Roboto', sans-serif;
}

#ForumName {
	text-decoration: none;
}

#header {
	width: 100%;
	top: 0;
	left: 0;
    background-color: #e0e0e0;
    padding-bottom: 10px;
    padding-top: 5px;
}

#footer {
    background-color: #c0c0c0;
	width: 100%;
    position: fixed;
    bottom: 0;
	height: 25px;
	left:0;
}

#sectionHeader {
    background-color: #d5d5f5;
}

#post {
	background-color: #d5d5d5;
}

p.error {
	color: #d02020;
}

button, input[type=button], input[type=submit], input[type=reset] {
	border-color: white;
	background-color: #303030;
	color: white;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover { 
  background-color: #606060;
}
